@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;900&display=swap');
@font-face {
    font-family: 'Calibri';
    src: url('../Calibri\ Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    background-color: #CBEFFF!important;
    font-size: 20px;
    line-height: 27px;
    font-family: 'Inter', sans-serif;
}
.container {
    margin: 0 auto;
    width: 1100px;
}
.main_wrapper {
    margin-top: 130px;
}
header {
    display: flex;
    justify-content: space-between;
}
.header_wrapper {
    flex: 1;
}
.header_title {
    display: flex;
    flex-direction: column;
    width: 460px;
    font-weight: 200;
}
.header_title p {
    margin-bottom: 120px;
}
.header_title-main{
    position: relative;
    background: url('../img/main-text.svg') no-repeat center;
    width: 460px;
    height: 190px;
}
span.x2 {
    position: absolute;
    background: url('../img/x2.svg') no-repeat;
    width: 30%;
    height: 50%;
    top: -20px;
    left: 73%;
}

.header_img {
    background: url('../img/keno.png') no-repeat right;
    width: 100%;
    height: 100%;
}
.btn {
    background: linear-gradient(89.18deg, #FFA775 1.06%, #F553E5 98.95%);
    box-shadow: 0px 15px 20px #A3D5EB;
    border-radius: 35px;
    width: 280px;
    height: 60px;
    border: none;
    color: #fff;
    font-family: 'Calibri', sans-serif;
    font-size: 25px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    background: lighten(crimson, 10%);
    overflow: hidden;
}

/*----------------------------section condition-------------------------l*/
.section_conditions {
    margin-top: 120px;
}
:root h2 {
    font-weight: 700;
    color: #004F89;
    margin-bottom: 30px;
}
/*----------------------------section condition-------------------------l*/

/*----------------------------section prize-------------------------l*/
.section_prize_info {
    margin-top: 120px;
}
.section_prize_info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_prize_info-item img {
    margin-bottom: 20px;
    margin-top: 10px;
}
.section_prize_info-item span {
    text-decoration: line-through;
    margin-right: 15px;
}
.section_prize_info-item span.colored {
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(45deg, #FFA775, #F553E5);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.section_prize_info-item span.colored-2 {
    background-image: linear-gradient(45deg, #F553E5, #5295FA);
}
.section_prize_info-item span.colored-3 {
    background-image: linear-gradient(45deg, #5295FA, #5295FA 40%);
}
/*----------------------------section prize-------------------------l*/

/*----------------------------section buy-------------------------l*/
.section_buy {
    margin-top: 120px;
}
.section_buy-item {
    display: flex;
    justify-content: space-between;
}
.section_buy-item p {
    width: 660px;
}
.section_buy-item .btn-map {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 45px;
    background: #fff;
    color: #004F89;
    font-size: 20px;
}
.section_buy-item .btn-map:before {
    content: '';
    position: absolute;
    top: 18px;
    left: 45px;
    background: url('../img/geo.svg') no-repeat center;
    width: 20px;
    height: 20px;
}
/*----------------------------section buy-------------------------l*/

/*----------------------------section more_info-------------------------l*/
.section_more_info {
    margin-top: 120px;
}

.section_more_info > .accordion-item {
    margin-top: 30px;
    margin-bottom: 25px;
}
.section_more_info:nth-child(2) {
    margin-bottom: 75px;
}
.accordion-item:first-of-type,
.accordion-item:first-of-type .accordion-button {
    border-radius: 15px;
    border: none;
    background-color: #fff;
}
.accordion-item:last-of-type,
.accordion-item:last-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button.collapsed  {
    border-radius: 15px;
    border: none;   
    background-color: #fff;
}
.accordion-item h2.accordion-header {
    color: #333;
    font-size: 30px;
}
/*----------------------------section more_info-------------------------l*/
.layer-main {
    position: absolute;
    background: url('../img/layers/v_main.svg') no-repeat center;
    width: 110%;
    height: 110%;
    bottom: -100px;
    right: -23%;
}

@media (min-width: 320px) and (max-width: 540px){
    body {
        font-size: 15px;
        line-height: 22px;
    }
    h2 {
        margin-bottom: 20px;
    }
    .container, .header_wrapper, .header_title {
        width: 330px;
        margin: 0 auto;
    }
    .main_wrapper {
        margin-top: 80px;
    }
    .header_title-main {
        width: 260px;
        height: 110px;
        background-size: contain;
    }
    .header_title-main span.x2 {
        width: 45%;
        height: 75%;
        top: -45px;
    }
    .header_img {
        position: absolute;
        bottom: 0;
        left: 0;
        background-position: center;
        z-index: -1;
    }
    .layer-main {
        display: none;
    }
    .header_title button {
        position: absolute;
        bottom: 20%;
        
    }
    .section_conditions {
        margin-top: 300px;
    }
    .section_prize_info {
        margin-top: 75px;
    }
    .section_prize_info-wrapper {
        flex-direction: column;
    }
    .section_prize_info-item {
        display: inline-flex;
        width: 300px;
    }
    .section_prize_info-item img {
        width: 27px;
        height: 35px;
        margin-right: 10px;
    }
    .section_buy {
        margin-top: 75px;
        flex-direction: column;
    }
    .section_buy-item:last-child {
        margin-top: 40px;
    }
    .section_more_info {
        margin-top: 60px;
    }


}